<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">{{ "MENU_HOME"|t }}</a></li>
				<li><a href="#about">{{ "MENU_ABOUT"|t }}</a></li>
				<li><a href="#themes">{{ "MENU_THEMES"|t }}</a></li>
                <li><a href="#error">{{ "MENU_ERROR"|t }}</a></li>
				<li><a href="#contact">{{ "MENU_CONTACT"|t }}</a></li>
            </ul>
		</div>
	</div>
</nav>